cerave-rag-support-agent-sanitized.json
{
  "name": "CeraVe RAG Support Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1280,
        -240
      ],
      "id": "bd0e41aa-3ba6-4745-af93-cd2df38cd48f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "select-your-faq-file.pdf"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        -240
      ],
      "id": "ffa0f9f2-b75c-4ea0-8963-0dbd14e0b4c5",
      "name": "Download file"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "cerave_faq_kb",
          "mode": "list"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -832,
        -240
      ],
      "id": "260e5fea-354d-4275-ae6d-5ece4dad6163",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -704,
        0
      ],
      "id": "b8ee06db-3fbb-4796-b1f1-7037d9c6f557",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -992,
        0
      ],
      "id": "5788c913-44c5-4b2f-bf01-d9a291effda2",
      "name": "Embeddings HuggingFace Inference"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cerave-faq-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        272
      ],
      "id": "b27d59f8-d639-487f-93c9-9f8dcaab8ef1",
      "name": "Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\n\nconst message = body.Message || body.message || body.question || \"\";\nconst customerName = body.CustomerName || body.name || \"Customer\";\n\nif (!message) {\n  throw new Error(\"Customer message is missing. Send Message or message in the request body.\");\n}\n\nreturn [\n  {\n    json: {\n      CustomerName: customerName,\n      Message: message,\n      Email: body.Email || body.email || \"\",\n      Source: \"Webhook\",\n      CreatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        272
      ],
      "id": "2a4adb9c-5207-436b-ae15-29cbfc3f435a",
      "name": "Clean Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a demo AI customer support assistant for CeraVe FAQ questions.\n\nYou are not official CeraVe support.\n\nYour job:\n- Answer CeraVe FAQ questions using the uploaded CeraVe FAQ PDF.\n- Help with questions about where to buy, product authenticity, coupons, samples, ceramides, MVE technology, fragrance-free products, non-comedogenic products, and general product information.\n- Classify the customer message.\n- Decide if human support is needed.\n\nTool usage rule:\nUse the cerave_faq_knowledge_base tool only for FAQ, product, ingredient, where-to-buy, coupons, samples, ceramides, MVE technology, fragrance-free, and non-comedogenic questions.\n\nSafety exception:\nIf the customer message mentions burning, swelling, allergic reaction, severe irritation, infection, eczema flare, psoriasis, pain, rash, or any serious skin concern, do not use the tool. Immediately return a safety response, recommend consulting a dermatologist or healthcare professional, and set NeedsHuman to true.\n\nRules:\n- Always return valid JSON.\n- Do not use markdown.\n- Do not write anything outside the JSON.\n- Do not invent information.\n- Use only the uploaded FAQ knowledge base for normal FAQ/product answers.\n- If the answer is not found in the FAQ knowledge base, say: \"I don't have enough information in my uploaded FAQ knowledge base to answer that.\"\n- Do not give medical diagnosis.\n- Do not recommend medicine or treatment.\n- If the user asks about personal order tracking, delivery status, payment, or private account details, say this demo agent does not have access to real customer orders.\n\nCustomer Name:\n{{ $json.CustomerName }}\n\nCustomer Message:\n{{ $json.Message }}\n\nReturn this exact JSON structure:\n\n{\n  \"CustomerName\": \"\",\n  \"Message\": \"\",\n  \"Category\": \"\",\n  \"Sentiment\": \"\",\n  \"Priority\": \"\",\n  \"AIReply\": \"\",\n  \"NeedsHuman\": false,\n  \"SourceUsed\": \"\"\n}\n\nAllowed categories:\n- Where To Buy\n- Product Authenticity\n- Coupons / Samples\n- Product Information\n- Ingredient / Technology Question\n- Medical Concern\n- Order / Account Question\n- General Inquiry\n\nAllowed sentiment:\n- Positive\n- Neutral\n- Negative\n\nAllowed priority:\n- Low\n- Medium\n- High\n\nFor medical or serious skin concern messages:\n- Category must be \"Medical Concern\"\n- Sentiment must be \"Negative\"\n- Priority must be \"High\"\n- NeedsHuman must be true\n- SourceUsed must be \"Safety Rule\"\n\nFor normal FAQ/product answers:\n- NeedsHuman should usually be false\n- SourceUsed must be \"CeraVe FAQ Knowledge Base\"",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -832,
        272
      ],
      "id": "7b437740-3ca6-4297-8477-203e96975147",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -992,
        464
      ],
      "id": "24356e57-20de-4e94-a73f-84b05abe1927",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Searches the uploaded CeraVe FAQ PDF for answers about where to buy products, product authenticity, coupons, samples, ceramides, MVE technology, fragrance-free products, non-comedogenic products, and general CeraVe FAQ information.",
        "memoryKey": {
          "__rl": true,
          "value": "cerave_faq_kb",
          "mode": "list",
          "cachedResultName": "cerave_faq_kb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -736,
        512
      ],
      "id": "ee67a432-4317-4f9a-9c93-549112e55915",
      "name": "cerave_faq_knowledge_base"
    },
    {
      "parameters": {
        "modelName": "sentence-transformers/all-MiniLM-L6-v2",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -816,
        688
      ],
      "id": "ffa89be5-1dc4-4a8b-be39-5d3a025b50eb",
      "name": "Embeddings HuggingFace Inference1"
    },
    {
      "parameters": {
        "jsCode": "let output = $json.output || $json.text || $json.response || \"\";\n\nif (typeof output !== \"string\") {\n  output = JSON.stringify(output);\n}\n\nconst match = output.match(/\\{[\\s\\S]*\\}/);\n\nif (!match) {\n  throw new Error(\"No valid JSON found in AI Agent output: \" + output);\n}\n\nlet data;\n\ntry {\n  data = JSON.parse(match[0]);\n} catch (error) {\n  throw new Error(\"Failed to parse AI JSON: \" + error.message + \"\\nOutput was: \" + output);\n}\n\nreturn [\n  {\n    json: {\n      success: true,\n      CustomerName: data.CustomerName || \"Customer\",\n      Message: data.Message || \"\",\n      Category: data.Category || \"General Inquiry\",\n      Sentiment: data.Sentiment || \"Neutral\",\n      Priority: data.Priority || \"Low\",\n      AIReply: data.AIReply || \"I don't have enough information in my uploaded FAQ knowledge base to answer that.\",\n    NeedsHuman: data.NeedsHuman === true || data.NeedsHuman === \"true\",\nStatus: (data.NeedsHuman === true || data.NeedsHuman === \"true\") ? \"Needs Human\" : \"Answered\",\nSourceUsed: data.SourceUsed || \"CeraVe FAQ Knowledge Base\",\nCreatedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        272
      ],
      "id": "104b7410-5de8-4681-9b56-e5f7127e33d6",
      "name": "Parse AI Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    success: true,\n    reply: $json.AIReply,\n    category: $json.Category,\n    sentiment: $json.Sentiment,\n    priority: $json.Priority,\n    needsHuman: $json.NeedsHuman,\n    source: $json.SourceUsed\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -64,
        272
      ],
      "id": "abeb0faf-7fef-492a-bf36-b69f6a57d1cf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Select your Airtable base"
        },
        "table": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "Select your Airtable table"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer_Name": "={{ $json.CustomerName }}",
            "Message": "={{ $json.Message }}",
            "AIReply": "={{ $json.AIReply }}",
            "Category": "={{ $json.Category }}",
            "Sentiment": "={{ $json.Sentiment }}",
            "Priority": "={{ $json.Priority }}",
            "SourceUsed": "={{ $json.SourceUsed }}",
            "CreatedAt": "={{ $json.CreatedAt }}",
            "Status": "={{ $json.Status }}",
            "NeedsHuman": "={{ Boolean($json.NeedsHuman) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Customer_Name",
              "displayName": "Customer_Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AIReply",
              "displayName": "AIReply",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Where To Buy",
                  "value": "Where To Buy"
                },
                {
                  "name": "Product Authenticity",
                  "value": "Product Authenticity"
                },
                {
                  "name": "Coupons / Samples",
                  "value": "Coupons / Samples"
                },
                {
                  "name": "Product Information",
                  "value": "Product Information"
                },
                {
                  "name": "Ingredient / Technology Question",
                  "value": "Ingredient / Technology Question"
                },
                {
                  "name": "Medical Concern",
                  "value": "Medical Concern"
                },
                {
                  "name": "Order / Account Question",
                  "value": "Order / Account Question"
                },
                {
                  "name": "General Inquiry",
                  "value": "General Inquiry"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Positive",
                  "value": "Positive"
                },
                {
                  "name": "Neutral",
                  "value": "Neutral"
                },
                {
                  "name": "Negative",
                  "value": "Negative"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Low",
                  "value": "Low"
                },
                {
                  "name": "Medium",
                  "value": "Medium"
                },
                {
                  "name": "High",
                  "value": "High"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NeedsHuman",
              "displayName": "NeedsHuman",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "SourceUsed",
              "displayName": "SourceUsed",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Answered",
                  "value": "Answered"
                },
                {
                  "name": "Needs Human",
                  "value": "Needs Human"
                },
                {
                  "name": "Closed",
                  "value": "Closed"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -272,
        272
      ],
      "id": "2af0fdd5-0216-47af-9ec7-aba38d7f450e",
      "name": "Create a record"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Clean Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cerave_faq_knowledge_base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings HuggingFace Inference1": {
      "ai_embedding": [
        [
          {
            "node": "cerave_faq_knowledge_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a record": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "nodeGroups": [],
  "tags": []
}